<div class="row">
    
    <div class="col-3">
        {{userList.hasValue()}}
    </div>
    
    <div class="col-3">
        <ul>
            @for(item of userList.value(); track $index){
        <li>{{item.name}} - {{item.username}}</li>
        }
        </ul>
    </div>

    <div>
        <div class="col-3">
            {{userList.isLoading()}}
        </div>
    </div>
    <div>
        <div class="btn btn-success" (click)="ReloadData()">ReloadData</div>
    </div>
    
</div>